crewai
streamlit
openai
unstructured
tools
tenacity==8.3.0
streamlit-shadcn-ui
firebase-admin
langchain
langchain_groq
streamlit-extras
streamlit-cookies-manager
streamlit-custom-notification-box
cohere
borb
